## Path:
## Description: OpenTelemetry Collector agent settings
## Type:        string
## Default:     ""
## ServiceRestart: otelcol
#
# Command line options for otelcol
#
# The configuration file holding the collector config
CONFIG_FILE="/etc/tigrisdata/tigris-os/common/opentelemetry-collector.yaml"

# Any user defined arguments
CUSTOM_ARGS=""

# Restart on system upgrade. Default to true
RESTART_ON_UPGRADE=true